// 基础公共样式
@color: #3296fa;

// 公共导航栏
.van-nav-bar{
    background-color: @color;
    .van-nav-bar__content{
        .van-nav-bar__title{
            color: #fff;
        }
    }
}

// 我的页面
.tt_grid{
    .van-icon-star-o{
        font-size: 24px;
        color: rgb(235, 82, 83);
    }
    .van-icon-eye-o{
        font-size: 24px;
        color: #1989fa;
    }
    .van-icon-edit{
        font-size: 24px;
        color: rgb(255, 160, 35);
    }
}