// 基础公共样式
@color: #3296fa;

// 公共导航栏
.van-nav-bar{
    background-color: @color;
    .van-nav-bar__content{
        .van-nav-bar__title{
            color: #fff;
        }
    }
}

// 我的页面
.tt_grid{
    .van-icon-star-o{
        font-size: 24px;
        color: rgb(235, 82, 83);
    }
    .van-icon-eye-o{
        font-size: 24px;
        color: #1989fa;
    }
    .van-icon-edit{
        font-size: 24px;
        color: rgb(255, 160, 35);
    }
}

// 首页
.home{
    .van-tabs__wrap{
        position: fixed;
        top: 46px;
        left: 0;
        right: 0;
        z-index: 2;
        padding-right: 44px;
        box-sizing: border-box;
        overflow-y: hidden;
        border-bottom: 1px solid #ededed;
    }
}

// 频道弹窗
.channelChandle{
    .van-grid-item{
        padding: 0px 6px;
        margin-bottom: 10px;
        position: relative;
        box-sizing: border-box;
        .van-grid-item__content{
            padding: 4px 0;
            position: relative;
            box-sizing: border-box;
        }
    }
    
}